	.mediaViewInfo {
		--web-view-name: Login Form;
		--web-view-id: Login_Form;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Login_Form;
	}
	* {
		margin: 0;
		padding: 0;
	}
	#Login_Form {
		position: absolute;
		box-sizing: border-box;
		background: #E5E5E5;
		width: 5772px;
		height: 4056px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		margin: 0;
		padding: 0;
		--web-view-name: Login Form;
		--web-view-id: Login_Form;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	.login_image {
		position: absolute;
		overflow: visible;
		width: 2952px;
		height: 4056px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_2 {
		filter: drop-shadow(0px 9px 10px rgba(0, 0, 0, 0.161));
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 2574px;
		height: 372px;
		left: 3059px;
		top: 2820px;
	}
	#Group_23 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 3324px;
		top: 204px;
		overflow: visible;
	}
	#Group_22 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_21 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_20 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_19 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_18 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_17 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_16 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_15 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_14 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_13 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_12 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_11 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_10 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_9 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_8 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_7 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_6 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_5 {
		position: absolute;
		width: 507px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Login {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 508px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 200px;
		color: rgba(24,56,148,1);
	}
	#Group_1 {
		position: absolute;
		width: 714px;
		height: 266px;
		left: 4578px;
		top: 204px;
		overflow: visible;
	}
	#Group_4 {
		position: absolute;
		width: 714px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_3 {
		position: absolute;
		width: 714px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_2 {
		position: absolute;
		width: 714px;
		height: 266px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Sign_Up {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 715px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 200px;
		color: rgba(112,112,112,1);
	}
	.Rectangle_3 {
		position: absolute;
		overflow: visible;
		width: 1218px;
		height: 40px;
		left: 3162px;
		top: 470px;
	}
	#Don_t_have_an_Account__Create_ {
		position: absolute;
		left: 3162px;
		top: 576px;
		overflow: visible;
		width: 2267px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 125px;
		color: rgba(112,112,112,1);
	}
	.Line_2 {
		overflow: visible;
		position: absolute;
		top: 1535.5px;
		left: 3119.5px;
		width: 2351px;
		height: 1px;
	}
	.Line_3 {
		overflow: visible;
		position: absolute;
		top: 1901.5px;
		left: 3119.5px;
		width: 2351px;
		height: 1px;
	}
	#UserName {
		position: absolute;
		left: 3228px;
		top: 1248px;
		overflow: visible;
		width: 926px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 200px;
		color: rgba(112,112,112,1);
	}
	#____________________ {
		position: absolute;
		left: 3204px;
		top: 1626px;
		overflow: visible;
		width: 1669px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 200px;
		color: rgba(112,112,112,1);
	}
	.Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 204px;
		height: 189px;
		left: 3120px;
		top: 2106px;
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		top: 2133.808px;
		left: 3153.999px;
		width: 152.125px;
		height: 152.979px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Remember_Me {
		position: absolute;
		left: 3350px;
		top: 2117px;
		overflow: visible;
		width: 845px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 130px;
		color: rgba(112,112,112,1);
	}
	#Forgot_Password_ {
		position: absolute;
		left: 4542px;
		top: 2117px;
		overflow: visible;
		width: 1013px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 130px;
		color: rgba(112,112,112,0.549);
	}
	#Login_A0_Text_8 {
		position: absolute;
		left: 4086px;
		top: 2858px;
		overflow: visible;
		width: 508px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 200px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_5 {
		opacity: 0.53;
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 2952px;
		height: 4056px;
		left: 0px;
		top: 0px;
	}
	#Quick_Share_Digital {
		position: absolute;
		left: 564px;
		top: 3066px;
		overflow: visible;
		width: 1736px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 200px;
		color: rgba(255,255,255,1);
	}